
<div class="game-board">
    {{#each boardSquares}}
        <div class="l-{{this.letter_multiplier}}-w-{{this.word_multiplier}}" data-x="{{this.x}}" data-y="{{this.y}}" id="square-{{this.x}},{{this.y}}">
          
            {{!-- <p>x: {{this.x}} </p>
            <p>y: {{this.y}}</p> --}}
            <p> . </p>
           
        </div>
    {{/each}}
</div>

