
<div class="game-board">
    {{#each cells}}
        <div class="cell" data-x="{{this.x}}" data-y="{{this.y}}">
            <p>x: {{this.x}}</p>
            <p>y: {{this.y}}</p>
            <p>l: {{this.letterMultiplier}}</p>
            <p>w: {{this.wordMultiplier}}</p>
        </div>
    {{/each}}
</div>